
.sky {
	color:#68dff0;
}

.note {
	background-color:#FF865C;
	color:white;
	text-transform:uppercase;
	padding:10px;
	border-radius:0%;
	border-color:#FF865C;
}

.navbar-style {
	background-color:#ffd777;
	border-bottom:1px solid #c9aa5f;
	text-transform:uppercase;
	
}

.btn-style {
	background-color:#ffd777;
	border:1px solid #797979;
	color:gray;
}

.mg-0 {
	margin:0px;
}

.mg-tp {
	margin-top:50px;
}

.justy {
  text-align: justify;
 } 

 .w-1{
 	width:10%;
 }

 .w-2 {
 	width:20%;
 }

 .w-3 {
 	width:50%;
 }

 .w-4 {
 	width:204px;
 }
.p-tp-6 {
	padding-top:7%;
}
.f-0 {
	font-size:12px;
}
.f-2{
	font-size:16px;
}
.f-3 {
	font-size:24px;
}

.f-4 {
	font-size:35px;
}

.f-5{
	font-size:50px;
}
 .tarjet {
 	border-bottom:1px solid #989898;
 	color: #989898;
  	
 }
.upper {
	text-transform:uppercase;
}
.box:hover {
	background-color:#fff !important;
	box-shadow:1px 2px 2px #888888;
	p { color:#FF865C;}
	div { border-bottom:1px solid #fff;}

}

.box {
	padding:0px 20px 0px 20px !important;
	p { color:#F2F2F2;}
}

.box1:hover {
	box-shadow:2px 2px 5px #888888 !important;
}

.box1 {
	background-color:white;
 	box-shadow:1px 1px 2px #888888;
}
.box2:hover{
	box-shadow:2px 2px 5px #888888 !important;
}
.box2 {
	background-color:#797979;
	box-shadow:1px 1px 2px #888888;
}

 .box-style {
 	background-color:white;
 	box-shadow:2px 2px 5px #888888;
 }

 .bg-grl {
 	background-color:#F2F2F2;
 }
 .bg1-grl {
 	background-color:#F5F5F5;
 }
.bg2-grl {
	background-color:#797979;
}
.bg3-grl {
	background-color:#fff;
}

/*PADDING*/

.p-0 {
	padding:0px;
}
.p-1 {
	padding:10px;
}
.p-2 {
	padding:20px;
}

.p-3 {
	padding:30px;
}

.p-tp-1 {
	padding:10px;
}

.p-tp-2 {
	padding-top:20px;
}

.p-tp-3 {
	padding-top:30px;
}
.p-tp-4 {
	padding-top:40px;
}
.p-tp-5{
	padding-top:50px;
}
.p-tp-bt-lf {
	padding:10px 0px 10px 30px;
}
/*FONT_COLOR*/

.c-w {
	
	color:white;
}

.c-r {
	color:#FF865C;
}

.c-grl {
	color:#989898;
} 
.hg-0-1 {
	height:63px;
}
.hg-0 {
	height:84px;
}

.hg-1{
	min-height:210px;
}

.hg-2 {
	width:70px;
	min-height:70px;
}

.hg-3 {
	height:280px;
}





.mg-tp-7 {
	margin-top:50px;
}

.mga {
	margin:0px auto;
}

.mini-icon{
	background-color:#68dff0;
	padding:5px;
	width:20px;
	height:22px;
	font-size:10px;	
}

.icon {
	width:28px;
	height:28px;

}

.box3:hover {
	background-color:#F2F2F2;
}
.box3 {
	border-bottom: 1px solid #ddd !important;
}

.br-w {
	border-color:#fff !important;
}

.aside-style {
	background-color:#797979;
	color:white;
	padding:5px;

}

aside nav ul li a:hover {
	background-color:#68dff0 !important;
	border:0px;
	border-radius:0%;
	color:white;
}
aside nav ul li a:active {
	background-color:blue;
	border:0px;
	border-radius:0%;
	color:white;
}

aside nav ul li a {
	color:white;	
}

.tx-lf {
	text-align:left;
}

.fot-style {

	background-color:#68dff0;
	border-top:1px solid #4AA0AD;
}

.col-xs-0-5 {
	@include make-xs-column(0.5)
}

.col-xs-8-5 {
	@include make-xs-column(8.5)
}

.full-hg {
	height:100%;
}

.image-grid {
	width:180px;
	height:160px;
}

.image-profile {
	width:105px;
	height:105px;
}

#main-content {
	margin-left: 204px;
}